* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
}
/* 
font-family: 'Mulish', sans-serif;
font-family: 'Roboto', sans-serif; */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

.login {
  width: 50%;
  height: auto;
  background: #fff;
  box-shadow: 0px 1px 10px #e9e9e9;
  border-radius: 15px;
  overflow: hidden;
}

.front {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
  position: relative;
}

.signIn {
  width: 50%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  transition: 2s;

}

.signIn h2 {
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.inputContent {
  width: 100%;
  height: auto;
  display: flex;
  margin: 20px 0 10px 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputContent input {
  width: 55%;
  height: 20px;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #eee;
  transition: 600ms;
}

.socialMedia {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialMedia i {
  font-size: 36px;
  margin: 0 10px;
  color: #9b9b9b;
  transition: 400ms;
}

.socialMedia i:hover:first-child {
  color: #61b6fc;
}
.socialMedia i:hover:nth-child(2) {
  color: #095ea3;
}
.socialMedia i:hover:nth-child(3) {
  color: #b33259;
}

.signIn span {
  color: #4a4a4a;
}

.signIn button ,.Register button {
  width: 160px;
  height: 45px;
  background: #4091d3;
  border-radius: 15px;
  border: 1px solid #6898be;
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
  transition: 400ms;
}

button:focus {
  outline: none;
}
button,.socialMedia i,span{
    cursor: pointer;
}

.signIn button:hover , .Register button:hover {
  background: #095ea3;
}

::placeholder {
  font-family: "Mulish", sans-serif;
}

input:focus {
  border: 1px solid #539fdd;
  outline: none;
}
.signUp {
  width: 50%;
  height: 500px;
  background: #61b6fc;
  background: radial-gradient(
    circle,
    rgba(97, 182, 252, 1) 0%,
    rgba(75, 141, 195, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  transition: 2s;
}

.signUp h1{
    font-size: 38px;
}
.signUp button{
    width: 160px;
    height: 45px;
    background: transparent;
    border-radius: 15px;
    border: 1px solid #539fdd;
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
    transition: 600ms;
}

.signInReverse{
    position: absolute;
}
.signUpReverse{
    position: absolute;
    right: 0;
}

.signUp button:hover{
    background:#fff;
    color: #539fdd;
}


@media only screen and (max-width: 1300px) {
  .login{
    width: 97%;
  }
  
.signIn {
  width: 50%;
}
.signUp {
  width: 50%;
}
.signUp h1{
  font-size: 25px;
}
.signUp p{
  font-size: 14px;
  text-align: center;
}

.inputContent input{
  width: 80%;
}
}